@model demo_project_01_stream.Models.MonsterPageViewModel

<h1>@Model.Monster.Name</h1>

<ul>
    <li>Armor Class: @Model.Monster.ArmorClass</li>
    <li>Alignment: @Model.Monster.Alignment</li>
    <li>Hitpoints: @Model.Monster.HitPoints</li>
    <li>Size: @Model.Monster.Size</li>
    <li>Type: @Model.Monster.Type</li>
    @if(Model.Monster.Subtype != null && Model.Monster.Subtype.Length > 0)
    {
        <li>Subtype: @Model.Monster.Subtype</li>
    }
</ul>